---
layout: base.pug
---

- const dateOptions = { year: 'numeric', month: 'long', day: 'numeric' };

article.post
  div.post__info
    h1.post__title !{pageTitle}
    p.post__date Published !{page.date.toLocaleDateString("en-US", dateOptions) }
  section !{content}
  unless typeof footnotes === 'undefined' || footnotes.length === 0
    section
      hr
      strong Footnotes:
      ol.footnotes
        each footnote, index in footnotes
          - const noteIndex = index + 1;
          - const id = `f${noteIndex}`;
          - const refId = `#a${noteIndex}`
          li.footnotes__item(id=id ) !{footnote}
            | 
            a.footnotes__back(href=refId) (Back)

- const spoilerRegex = /SPOILER_START/gi
- const hasSpoiler = spoilerRegex.test(content)

if hasSpoiler
  script.
    var spoilers = document.querySelectorAll('.spoiler');

    spoilers.forEach(spoiler => {
      var btn = document.createElement('button');
      var spoilerContent = spoiler.querySelector('.spoiler__content');
      spoilerContent.classList.add('spoiler__content--hidden');
      
      btn.classList = 'spoiler__reveal';
      btn.innerText = 'reveal';

      btn.addEventListener('click', function(event) {
        event.preventDefault();
        spoilerContent.classList.add('spoiler__content--revealed');
        this.remove();
      });

      spoiler.appendChild(btn);
    })