---
layout: base.pug
---

- const dateOptions = { year: 'numeric', month: 'long', day: 'numeric' };

article.post
  h1.fade-in.fade-in--fast.post__title !{pageTitle}
  p.fade-in.fade-in--fast.post__date Published !{page.date.toLocaleDateString("en-US", dateOptions) }
  section.fade-in.fade-in--med !{content}
  unless typeof footnotes === 'undefined' || footnotes.length === 0
    section.fade-in.fade-in--slow
      hr
      strong Footnotes:
      ol.footnotes
        each footnote, index in footnotes
          - const noteIndex = index + 1;
          - const id = `f${noteIndex}`;
          - const refId = `#a${noteIndex}`
          li.footnotes__item(id=id ) !{footnote}
            | 
            a.footnotes__back(href=refId) (Back)

if tags.includes('tutorial')
  script.
    var btns = document.querySelectorAll('.spoiler__reveal');
    btns.forEach(btn => {
      btn.addEventListener('click', function(event) {
        event.preventDefault();
        var spoilerText = this.parentNode.querySelector('.spoiler__text');
        spoilerText.classList.add('spoiler__text--revealed');
        this.remove();
      });
    })
