<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel='stylesheet', href=`/assets/dist/${assets['App']['css']}`)
    - const metaTitle = pageTitle ? `${pageTitle} | ${metadata['title']}` : metadata['title']
    title=metaTitle
  body
    include _partials/shared/navbar
    main.container
      article
        h1 !{pageTitle}
        section !{content}
