---
layout: base.pug
---

section.intro.circle-in.fade-in.fade-in--med
  h1.intro__header
    | Hey there! 
    span(role='img' aria-label='Wave emoji') 👋 
    |  I'm Leo, a web developer living and working in Ann Arbor, Michigan.
  div.intro__text
    p
      | I'm currently working over at 
      a(href='https://www.theknotww.com/') The Knot Worldwide
      |  where I build tools that connect wedding vendors and soon to be married couples.
    p
      | Getting in touch with me is easy! You can find me on 
      a(href='https://twitter.com/itsLeeOhGee') Twitter
      | , 
      a(href='https://www.linkedin.com/in/leogenerali/') LinkedIn
      | , or 
      a(href='https://github.com/leo-generali') Github
      | . To say hello, you can reach my by email 
      a(href='mailto:me@leogenerali.com?Subject=Hello!') here
      | .
    p
      | If I'm not coding, I'm probably out running. I try and post all of my runs on Strava. If that sounds like your type of thing, you can check that out over 
      a(href='https://www.strava.com/athletes/11876587') here.
    p 
      | When I find myself with a spare minute or two I enjoy working on personal projects. I'll typically try to solve an issue I'm running into.
      | I learn a thing or two in the process and maybe solve a problem for others too. Here are some of the cooler things I've made:

section.fade-in.fade-in--slow
  each project in collections.projects
    div.intro-project
      p.intro-project__title= project.data.name
      p.intro-project__description= project.data.description
      div.intro-project__links
        if project.templateContent
          a(href=project.url) Project Recap
        a(href=project.data.liveUrl) Live
        a(href=project.data.githubUrl) Github